body{
    
    font-family: 'PT Sans', sans-serif;
    max-width: 100%;
    margin: 0 auto;
    
}
.contenedor{
    
    background-image: url(../imagenes/imagen12.jpg);
    background-attachment: fixed;
    
}
header{
    position: fixed; 
    z-index: 10000; 
    vertical-align: top;
}

nav{
    width: 100%;
    height: 120px;
    background-color: rgba(152, 152, 85, 0.883);
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.5s all;
    padding: 10px 10px;
    
}

.img-logo{
    width: 160px;
    padding: 0px;
    border-width: 0ch;
}

nav ul{
    padding-top: 100pxs;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: rgb(7, 7, 7);
}

h2 figure  ul{
    margin: 0;
}

img{
    max-width: 100%;
}

.seccion1{
    color: white;
    padding: 150px;
    vertical-align: top;
    
}

.carrusel{
    color: white;
    padding: 150px;
    vertical-align: top;
}

.texto{
    width: 30%;
    padding: 15px;
    vertical-align: top;
}

article{
    padding: 30px;
   
}

article h2{
    border-bottom: solid thin black;
}

.texto{
    display: inline-block;
}

.boton{
    text-align: center;
    background-color: rgb(73, 72, 72);
    padding: 10px;
}

.boton a{
    text-decoration: none;
    color: white;
}

section{
    
    padding: 15px;
}

section h2{
    border-bottom: solid thin black;


}
.img-art img{
    max-width: 100%;
}

.cont-art{
    width: 740px;
    vertical-align: top;
    text-align: center;
}

.pie-pagina{
    width: 100%;
    background-color: #202121;
    background-image: url(../imagenes/imagen\ 7.jpeg);
    background-attachment: fixed;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;

}

.pie-pagina .grupo-1 .box h2{
    color: rgb(240, 247, 109);
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #0a0a09;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #8c8f91;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2 {
    background-color: #252626;
    padding: 15px 10px;
    text-align: center;
    color: rgb(247, 244, 244);
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}